#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// #include <layout_shift_kp_override.dtsi>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

/ {
    behaviors {
        // Keep the original key_press behavior for ZMK core components

        original_key_press: original_key_press {
            compatible = "zmk,behavior-key-press";
            #binding-cells = <1>;
            label = "KEY_PRESS";
        };

        // Override the existing &kp behavior to use our custom implementation

        kp: key_press {
            compatible = "zmk,behavior-layout-shift-key-press";
            #binding-cells = <1>;
            label = "LAYOUT_SHIFT_KEY_PRESS";
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        scroll_left_right: behavior_sensor_rotate_mouse_wheel_left_right {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        arrow_left_right: behavior_sensor_rotate_arrow_le {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp RIGHT>;

            tap-ms = <20>;
        };

        arrow_up_down: behavior_sensor_rotate_arrow_up {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp UP>, <&kp DOWN>;

            tap-ms = <20>;
        };

        page_up_down: behavior_sensor_rotate_page_up_ {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp PAGE_UP>, <&kp PAGE_DOWN>;

            tap-ms = <20>;
        };

        tp_tab_ctrl_q: tp_tab_ctrl_q {
            compatible = "zmk,behavior-tap-dance";
            label = "TP_TAB_CTRL_Q";
            #binding-cells = <0>;
            bindings = <&mt LCTRL TAB>, <&kp Q>;
        };

        tp_shift_ctrl: tp_shift_ctrl {
            compatible = "zmk,behavior-tap-dance";
            label = "TP_SHIFT_CTRL";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT>, <&kp LCTRL>;
        };
    };

    combos {
        compatible = "zmk,combos";

        mo5 {
            bindings = <&mo 4>;
            key-positions = <36 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default_US {
            bindings = <
                &mt LEFT_ALT LS(TAB)  &mt LALT TAB
&tp_tab_ctrl_q  &kp W                 &kp E         &kp R        &kp T          &kp Y          &kp U        &kp I            &kp O                    &kp P
&kp A           &kp S                 &kp D         &kp F        &kp G          &kp H          &kp J        &kp K            &kp L                    &kp MINUS
&kp Z           &kp X                 &kp C         &kp V        &kp B          &kp N          &kp M        &kp COMMA        &kp DOT                  &kp SLASH
&tp_shift_ctrl  &kp LEFT_WIN          &kp GRAVE     &lt 2 SPACE  &kp BACKSPACE  &kp BACKSPACE  &lt 3 ENTER  &kp RIGHT_SHIFT  &kp LANG_ZENKAKUHANKAKU  &kp LS(INTERNATIONAL_1)
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        Default_JIS {
            bindings = <
                &trans        &trans
&tp_tab_ctrl_q  &kp W         &kp E      &kp R   &kp T   &kp Y   &kp U   &kp I            &kp O                    &kp P
&kp A           &kp S         &kp D      &kp F   &kp G   &kp H   &kp J   &kp K            &kp L                    &kp MINUS
&kp Z           &kp X         &kp C      &kp V   &kp B   &kp N   &kp M   &kp COMMA        &kp DOT                  &kp SLASH
&tp_shift_ctrl  &kp LEFT_WIN  &kp GRAVE  &trans  &trans  &trans  &trans  &kp RIGHT_SHIFT  &kp LANG_ZENKAKUHANKAKU  &kp LS(INTERNATIONAL_1)
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        Ctrl+_Num_ {
            bindings = <
           &trans     &trans
&none      &none      &none      &none      &none            &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MINUS    &kp PRINTSCREEN
&kp LC(A)  &kp LC(S)  &kp LC(D)  &kp LC(F)  &none            &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS     &kp DELETE
&kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp UP_ARROW    &kp KP_DOT
&trans     &trans     &trans     &trans     &trans           &trans           &trans           &kp LEFT         &kp DOWN_ARROW  &kp RIGHT_ARROW
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        Shift+_Mouse_ {
            bindings = <
                  &none             &none
&kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)  &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp LS(NUMBER_0)
&kp F1            &kp F2            &kp F3            &kp F4            &kp F5            &kp F6            &kp F7            &kp F8            &kp F9            &kp F10
&kp F11           &kp F12           &none             &none             &none             &none             &none             &mkp MB1          &mmv MOVE_UP      &mkp MB2
&trans            &trans            &trans            &trans            &trans            &trans            &trans            &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_RIGHT
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_4 {
            bindings = <
              &bt BT_CLR    &bt BT_CLR_ALL
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4  &none   &none   &none  &none  &none
&none         &none         &none           &none         &none         &none   &none   &none  &none  &none
&none         &none         &none           &none         &none         &none   &none   &none  &none  &none
&bootloader   &none         &none           &trans        &trans        &trans  &trans  &none  &none  &none
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
