#include <zephyr/dt-bindings/dt-util.h>
#include <zephyr/dt-bindings/adc/adc.h>
#include <dt-bindings/zmk/matrix_transform.h>
#include "Enigma_01_layout.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan_0;
        zmk,studio-rpc = &studio_usb;
    };

    kscan_0: kscan_0 {
        compatible = "zmk,kscan-gpio-charlieplex";
        interrupt-gpios = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    encoder_0: encoder_0 {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <24>;
        status = "disabled";
    };

    sensors_0: sensors_0 {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_0>;
        triggers-per-rotation = <10>;
    };

    studio_usb: studio_usb {
        compatible = "zmk,studio-rpc-usb-uart";
    };
};
