config SHIELD_Enigma_01_a
    def_bool $(shields_list_contains,Enigma_01_a)

config SHIELD_Enigma_01_b
    def_bool $(shields_list_contains,Enigma_01_b)

config SHIELD_Enigma_01_c
    def_bool $(shields_list_contains,Enigma_01_c)
